body {
    background-color: white;
    display: flex;
    justify-content: center;       
}
#pUno {
    color: #FFD700;
    font-size: 70px;
    font-family: 'Audiowide', sans-serif;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;
    background-color: white;
    width: 95vw;
    border-radius: 28px;
    text-align: center;
    height: 110px;
    padding-top: 10px;
}

.contenedor {   
    background-color: black;
    width: 94vw;
    height: 8000px;
    border-radius: 80px;
    margin-top: 170px;
    margin-bottom: 30px;      
}


details {
    font-size: 2em;
    margin: 50px;  
    border: 5px solid blue;
    padding:30px;
    border-radius: 40px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    animation: animarBorde 2s infinite ease-in-out;
}

details[open] {
    border-radius: 40px; 
    padding: 30px;  
    box-shadow: inset 10px 10px 10px #white;
}
@keyframes animarBorde {
  0% {
    border-color: red;
  }
  50% {
    border-color: blue;
  }
  100% {
    border-color: green;
  }
}
